/* .loading{
    background-color: #0e0e0e;
    z-index: 1;  
} */
/* margin: 13rem 35rem; */
/* border: 5px solid white; */

.loading {
    width: 100px;
    height: 100px;
    background-color: red;
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}
.loading img{
    width: 100%;
    h100
}