.loading{
    background-color: aliceblue;
    z-index: 1;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    
}
img{
background-color: red;
position: relative;
justify-content: center;
align-items: center;
}