.navbar-wrapper{
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 2rem 3rem;
}
.navbar-logo img{
    height: 3rem;
}
.navbar-logo{
    display: flex;
    flex-direction: row;
    color: var(--clr-primary-10);
}
.nav-bar-logo__name{
    margin: 0.5rem;
    font-weight: bold;
    font-size: 26px;
}
.navbar-list ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0rem 3rem;
}
.navbar-list li a{
    padding: 0.5rem ;
    margin: 0.5rem;
    color: var(--clr-primary-10);
}
.navbar-list{
    position: absolute;
    right: 0;
    margin-top: 1rem;
}
.navbar-list li :hover{
    color: var(--clr-primary-1);
    cursor: pointer;
    font-size: large;
}
@media only screen and (max-width: 600px){
    .navbar-list ul{
        padding: 0rem;
    }
    .navbar-logo img{
        height: 2.5rem;
    }
   .nav-bar-logo__name{
        font-size: 26px;
    }
}